<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="shortlist-tab" data-toggle="tab" role="tab"  href="#shortlist" aria-controls="shortlist" aria-selected="true">Shortlist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-info-tab" data-toggle="tab" role="tab" href="#profile-info" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="host-tab" data-toggle="tab" role="tab" href="#host" aria-controls="host" aria-selected="false">Host</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div id="profile-info" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-info-tab">
      <div class="pro-info-container">
       <% if current_user.photo.url %>
        <%= cl_image_tag current_user.photo.url(:bright_face), class: "avatar-l" %>
      <% else %>
        <img src="https://www.svgrepo.com/show/163162/avatar.svg" class="avatar-l">
      <% end %>
      <div class="right-half">
        <hr>
        <p>Name</p>
        <h2><%= @user.name %></h2>

        <p>City</p>
        <h2><%= @user.city  %></h2>

        <p>Email</p>
        <h2><%= @user.email %></h2>

        <p>Career</p>
        <h2> <%= @user.profession.name %></h2>

        <p>Password</p>
        <h2>••••••••••</h2>
      </div>
      <div class="edit-btn">
        <%= link_to(edit_user_registration_path) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </div>
    </div>
  </div>


    <div id="shortlist" role="tabpanel" class="tab-pane fade show active" aria-labelledby="shortlist-tab">
      <h3>Your saved Learning Opportunities</h3>
       <hr>
        <div>
          <% @learningopportunities = [] %>
          <% $bookmark_count = @bookmarks.count %>
          <% @bookmarks.each { | bookmark | @learningopportunities <<  bookmark.learning_opportunity } %>
          <%= render partial: './learning_opportunities/cards_list', locals: { learningopportunities: @learningopportunities } %>
        </div>
    </div>

     <div id="host" class="tab-pane fade" role="tabpanel" aria-labelledby="host-tab">
      <div class="host">
        <h3>Host</h3>
        <hr>
        <% if current_user.learning_opportunities == [] %>
          <p>Want to be apart of the fun? </p>
          <%= link_to 'Add an Event', new_learning_opportunity_path, class: "btn", style:"text-align: center" %>
        <% else %>
          <% current_user.learning_opportunities.each do |event| %>
            <%= event.name %> <%= link_to "edit", edit_learning_opportunity_path(event) %> <%= link_to "destroy", learning_opportunity_path(event), method: "delete" %>
          <% end %>
          <br>
          <%= link_to 'Add an Event', new_learning_opportunity_path, class: "btn", style:"text-align: center" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
