<div class="results">
        <h3>Results</h3>
        <ul style="list-style: none; padding: 0px;">
          <% learningopportunities.each do |learning_opportunity| %>
              <% @bookmark = UserBookmark.all.select { |bm| bm.user == current_user && bm.learning_opportunity == learning_opportunity }.first %>
            <div class="learning-opp-list-item">
              <div class="left-bar">
                <div class="text-and-image">
                  <img class="learning-opp-image" src="https://source.unsplash.com/1600x900/?<%= learning_opportunity.name %>">
                  <div class="main-text">
                    <li>
                      <h4><%= link_to learning_opportunity.name.truncate(70), learning_opportunity_path(learning_opportunity) %></h4>
                      <p> <%= learning_opportunity.description.truncate(100) %> </p>
                      <p>$<%= learning_opportunity.price %></p>
                    </li>
                  </div>
                </div>
                <div class="grey-bar">
                </div>
              </div>
              <div class="right-bar">
                <div class="bookmark-icon">
                  <%= link_to '<i class="far fa-bookmark"></i>'.html_safe, user_bookmarks_path(@bookmark, user_id: current_user.id, learning_opportunity_id: learning_opportunity.id), method: "post" unless (current_user.nil? || @bookmark) %>
                  <%= link_to '<i class="fa fa-bookmark"></i>'.html_safe, user_bookmark_path(@bookmark), method: "delete" if @bookmark %>
                </div>
                <div class="details">
                  <hr>
                  <p>Details <br> From <%= learning_opportunity.start_date %> <br>
                  <i class="fas fa-angle-double-down"></i> </p>
                </div>
              </div>
            </div>
            <% end %>
        </ul>
      </div>
