<%= simple_form_for (learning_opportunity) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :input_html => {:rows =>5}  %>
  <%= f.input :price %>
  <div class="d-flex">
    <%= f.input :start_date, wrapper_html: {class: "margin-r"}%>
    <%= f.input :end_date, wrapper_html: {class: "margin-l"}%>
  </div>
  <%= f.input :location, :class => "text-inputs form-control icon-field-input" %>
  <%= f.input :course_type, collection: ["Online", "Conference", "Meetup", "Class"] %>
  <%= f.input :url %>
  <%= f.input :skill_ids, collection: Skill.all, input_html: { multiple: true }, :label => "Related skills", :class => "form-skill-list"%>
  <%= f.submit "Submit", :class => "btn btn-2" %>
<% end %>

