<div class="container">
  <%= cl_image_tag @learningopportunity.event_picture %>
  <h1><%= @learningopportunity.name %></h1>
  <p><%= @learningopportunity.description %></p>
  <ul>
    <li> price: <%= @learningopportunity.price %></li>
    <li> location: <%= @learningopportunity.location %></li>
    <li> type: <%= @learningopportunity.course_type %></li>
    <li> start date: <%= @learningopportunity.start_date %></li>
    <li> end date: <%= @learningopportunity.end_date %></li>
  </ul>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

  <%= link_to "visit site", @learningopportunity.url, target: "_blank" %>

</div>
